# BYOND specific ignores
# Based on .gitignores from other SS13 codebases

*.dmb
*.rsc
*.int
*.lk
*.backup
*.log

build_log.txt

data/
cfg/

# ignore config, but not subdirs (like config/example)
config/*
!config/*/
Interstation-Two-WW2/SQL/database.db
